.elementor-463 .elementor-element.elementor-element-5c7f47c {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}
.elementor-463 .elementor-element.elementor-element-d84416f {
  --display: flex;
  --overflow: hidden;
  --background-transition: 0.3s;
  --border-radius: 32px 32px 32px 32px;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}
.elementor-463 .elementor-element.elementor-element-d84416f:hover {
  --border-radius: 88px 88px 88px 88px;
  --border-top-left-radius: 88px;
  --border-top-right-radius: 88px;
  --border-bottom-right-radius: 88px;
  --border-bottom-left-radius: 88px;
}
.elementor-463 .elementor-element.elementor-element-bb38d74 img {
  width: 105%;
  border-radius: 32px 32px 32px 32px;
}
.elementor-463 .elementor-element.elementor-element-486a683 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: space-between;
  --align-items: center;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}
.elementor-463 .elementor-element.elementor-element-ff09639 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --background-transition: 0.3s;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}
.elementor-463 .elementor-element.elementor-element-a14c50d {
  text-align: left;
  width: auto;
  max-width: auto;
}
.elementor-463
  .elementor-element.elementor-element-a14c50d
  .elementor-heading-title {
  color: #ffffff96;
  font-family: "Elgoc-Light", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4em;
}
.elementor-463
  .elementor-element.elementor-element-a14c50d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-463 .elementor-element.elementor-element-a14c50d.elementor-element {
  --align-self: flex-end;
}
.elementor-463 .elementor-element.elementor-element-8e8ac32 {
  text-align: left;
}
.elementor-463
  .elementor-element.elementor-element-8e8ac32
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Elgoc-Light", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}
.elementor-463 .elementor-element.elementor-element-8e8ac32.elementor-element {
  --align-self: center;
}
.elementor-463 .elementor-element.elementor-element-c618812 img {
  width: 24px;
}
.elementor-463
  .elementor-element.elementor-element-c618812
  > .elementor-widget-container {
  margin: 0px 0px 6px 0px;
}
@media (max-width: 1024px) {
  .elementor-463
    .elementor-element.elementor-element-a14c50d
    .elementor-heading-title {
    line-height: 1.2em;
  }
  .elementor-463
    .elementor-element.elementor-element-a14c50d.elementor-element {
    --align-self: flex-end;
  }
  .elementor-463
    .elementor-element.elementor-element-8e8ac32
    .elementor-heading-title {
    font-size: 1.4rem;
  }
  .elementor-463 .elementor-element.elementor-element-c618812 img {
    width: 18px;
  }
}
@media (min-width: 768px) {
  .elementor-463 .elementor-element.elementor-element-5c7f47c {
    --width: 100%;
  }
  .elementor-463 .elementor-element.elementor-element-486a683 {
    --width: 100%;
  }
  .elementor-463 .elementor-element.elementor-element-ff09639 {
    --width: 80%;
  }
}
@media (max-width: 767px) {
  .elementor-463 .elementor-element.elementor-element-486a683 {
    --width: 100%;
    --flex-direction: row;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: flex-end;
    --gap: 16px 16px;
    --flex-wrap: nowrap;
  }
  .elementor-463 .elementor-element.elementor-element-ff09639 {
    --width: 86%;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-start;
    --gap: 12px 12px;
  }
  .elementor-463
    .elementor-element.elementor-element-a14c50d
    .elementor-heading-title {
    font-size: 1rem;
    line-height: 1em;
  }
  .elementor-463
    .elementor-element.elementor-element-a14c50d
    > .elementor-widget-container {
    margin: 0px 0px 1px 0px;
  }
  .elementor-463 .elementor-element.elementor-element-a14c50d {
    width: auto;
    max-width: auto;
  }
  .elementor-463
    .elementor-element.elementor-element-8e8ac32
    .elementor-heading-title {
    font-size: 1.4rem;
  }
  .elementor-463 .elementor-element.elementor-element-8e8ac32 {
    width: var(--container-widget-width, 85%);
    max-width: 85%;
    --container-widget-width: 85%;
    --container-widget-flex-grow: 0;
  }
  .elementor-463 .elementor-element.elementor-element-c618812 {
    text-align: right;
  }
  .elementor-463 .elementor-element.elementor-element-c618812 img {
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
  .elementor-463
    .elementor-element.elementor-element-c618812
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
} /* Start custom CSS for image, class: .elementor-element-bb38d74 */ /*.elementor-463 .elementor-element.elementor-element-bb38d74 img {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	transition: 500ms cubic-bezier(.77, 0, .175, 1);
}
.elementor-463 .elementor-element.elementor-element-bb38d74 img:hover {
	border-radius:88px;
	transition: 500ms cubic-bezier(.77, 0, .175, 1);
}
#.elementor-463 .elementor-element.elementor-element-bb38d74 img:hover {
	clip-path: polygon(5% 10%, 95% 2%, 95% 90%, 5% 98%);
	transition: 500ms cubic-bezier(.77, 0, .175, 1);
}*/ /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d84416f */
.elementor-463 .elementor-element.elementor-element-d84416f {
  border-radius: 32px !important;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.elementor-463 .elementor-element.elementor-element-d84416f:hover {
  border-radius: 88px !important;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
} /* End custom CSS */
/* Start custom CSS for theme-post-title, class: .elementor-element-8e8ac32 */
.elementor-463 .elementor-element.elementor-element-8e8ac32 {
  display: block;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-5c7f47c */
.elementor-463 .elementor-element.elementor-element-5c7f47c:hover {
  padding: 10px;
  transition: 500ms cubic-bezier(0.65, 0, 0.35, 1);
}
.elementor-463 .elementor-element.elementor-element-5c7f47c {
  padding: 0px;
  transition: 500ms cubic-bezier(0.65, 0, 0.35, 1);
} /* End custom CSS */
