@font-face {
  font-family: Tangerine;
  src: url(../../2022/10/tangerine-webfont.woff2);
}

.elementor-1610 .elementor-element.elementor-element-326810f {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: flex-end;
  --align-items: flex-start;
  --gap: 3em 3em;
  --background-transition: 0.3s;
  --padding-block-start: 0px;
  --padding-block-end: 30px;
  --padding-inline-start: 30px;
  --padding-inline-end: 0px;
}
.elementor-1610
  .elementor-element.elementor-element-f8f16c5
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1610
  .elementor-element.elementor-element-f8f16c5.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-1610
  .elementor-element.elementor-element-f8f16c5.elementor-view-framed
  .elementor-icon,
.elementor-1610
  .elementor-element.elementor-element-f8f16c5.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-1610
  .elementor-element.elementor-element-f8f16c5.elementor-view-framed
  .elementor-icon,
.elementor-1610
  .elementor-element.elementor-element-f8f16c5.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-1610 .elementor-element.elementor-element-f8f16c5 .elementor-icon {
  font-size: 60px;
  padding: 8px;
  border-width: 1px 1px 1px 1px;
}
.elementor-1610
  .elementor-element.elementor-element-f8f16c5
  .elementor-icon
  svg {
  height: 60px;
}
.elementor-1610
  .elementor-element.elementor-element-f8f16c5
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1610 .elementor-element.elementor-element-f8f16c5.elementor-element {
  --align-self: flex-end;
}
body:not(.rtl) .elementor-1610 .elementor-element.elementor-element-f8f16c5 {
  right: 60px;
}
body.rtl .elementor-1610 .elementor-element.elementor-element-f8f16c5 {
  left: 60px;
}
.elementor-1610 .elementor-element.elementor-element-f8f16c5 {
  top: 60px;
}
.elementor-1610
  .elementor-element.elementor-element-5ba2bb8
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Tangerine", Sans-serif;
  font-size: 120px;
  font-weight: normal;
  line-height: 140px;
}
.elementor-1610
  .elementor-element.elementor-element-5e9c9b0
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Tangerine", Sans-serif;
  font-size: 10vw;
}
.elementor-1610
  .elementor-element.elementor-element-1ca1789
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Tangerine", Sans-serif;
  font-size: 10vw;
}
#elementor-popup-modal-1610 .dialog-message {
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
}
#elementor-popup-modal-1610 {
  justify-content: center;
  align-items: center;
}
#elementor-popup-modal-1610 .dialog-widget-content {
  animation-duration: 0.2s;
  background-color: #000000;
}
@media (min-width: 1024px) {
  .elementor-1610
    .elementor-element.elementor-element-5ba2bb8
    .elementor-heading-title {
    font-size: 120px;
    font-weight: normal;
    line-height: 140px;
  }
  .elementor-1610
    .elementor-element.elementor-element-5e9c9b0
    .elementor-heading-title {
    font-size: 120px;
    font-weight: normal;
    line-height: 140px;
  }
  .elementor-1610
    .elementor-element.elementor-element-1ca1789
    .elementor-heading-title {
    font-size: 120px;
    font-weight: normal;
    line-height: 140px;
  }
}
@media (max-width: 1023px) {
  .elementor-1610
    .elementor-element.elementor-element-5ba2bb8
    .elementor-heading-title {
    font-size: 120px;
    line-height: 140px;
  }
  .elementor-1610
    .elementor-element.elementor-element-5e9c9b0
    .elementor-heading-title {
    font-size: 120px;
    line-height: 140px;
  }
  .elementor-1610
    .elementor-element.elementor-element-1ca1789
    .elementor-heading-title {
    font-size: 120px;
    line-height: 140px;
  }
}
@media (max-width: 767px) {
  .elementor-1610 .elementor-element.elementor-element-326810f {
    --min-height: 100vh;
    --justify-content: flex-end;
    --padding-block-start: 0%;
    --padding-block-end: 28%;
    --padding-inline-start: 8%;
    --padding-inline-end: 0%;
  }
  .elementor-1610 .elementor-element.elementor-element-f8f16c5 .elementor-icon {
    font-size: 32px;
  }
  .elementor-1610
    .elementor-element.elementor-element-f8f16c5
    .elementor-icon
    svg {
    height: 32px;
  }
  body:not(.rtl) .elementor-1610 .elementor-element.elementor-element-f8f16c5 {
    right: 30px;
  }
  body.rtl .elementor-1610 .elementor-element.elementor-element-f8f16c5 {
    left: 30px;
  }
  .elementor-1610 .elementor-element.elementor-element-f8f16c5 {
    top: 30px;
  }
  .elementor-1610
    .elementor-element.elementor-element-5ba2bb8
    .elementor-heading-title {
    font-size: 48px;
    line-height: 64px;
  }
  .elementor-1610
    .elementor-element.elementor-element-5e9c9b0
    .elementor-heading-title {
    font-size: 48px;
    line-height: 64px;
  }
  .elementor-1610
    .elementor-element.elementor-element-1ca1789
    .elementor-heading-title {
    font-size: 48px;
    line-height: 64px;
  }
}
